{% extends 'base.html' %} 
{% block meta %}
  <style>
    .table-bordered {
      border: 1px solid #000000;
    }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #000000;
    }

    th {
        background-color: #808080;
    }
    .full-button {
      width: 100%;
    }
  </style>
{% endblock meta %}

{% block content %}
<body>
  <div class="container mt-5">
    <div class="row">
        <h1>BELI PAKET</h1>
        <table class="table table-bordered mt-4">
            <tr class="table-secondary">
                <th>Nama Paket</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Dukungan Perangkat</th>
            </tr>
            <tr>
              <td>Premium</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>
        <h2 class="text-center">Pilih Metode Pembayaran: </h2>
        <select class="form-select text-center" aria-label="Default select example">
          <option selected value="">Transfer Bank</option>
          <option value="">Kartu Kredit</option>
          <option value="">E-Wallet</option>
        </select>
        
        <div class="mt-5">
            <button type="button" class="btn btn-secondary mt-3 full-button">Bayar</button>
        </div>
    </div>
  </div>
</body>
{% endblock content %}