{% extends 'base.html' %} 
{% block meta %}
  <style>
    .table-bordered {
      border: 1px solid #000000;
    }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #000000;
    }

    th {
        background-color: #808080;
    }
    .full-button {
      width: 100%;
    }
  </style>
{% endblock meta %}

{% block content %}
<body>
  {% include "navbar-user.html" %}
  <div class="container mt-5">
    <div class="row">
        <h1>BELI PAKET</h1>
        <table class="table table-bordered mt-4">
            <tr class="table-secondary">
                <th>Nama Paket</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Dukungan Perangkat</th>
            </tr>
            <tr>
              <td>{{paket.0}}</td>
              <td>{{paket.1}}</td>
              <td>{{paket.2}}</td>
              <td>{{paket.3}}</td>
            </tr>
        </table>
        <h2 class="text-center">Pilih Metode Pembayaran: </h2>
        <form method="POST" >  
          {% csrf_token %}
          <select class="form-select text-center" aria-label="Default select example" name="pay">
            <option selected value="Transfer Bank">Transfer Bank</option>
            <option value="Kartu Kredit">Kartu Kredit</option>
            <option value="E-Wallet">E-Wallet</option>
          </select>
          <div class="mt-5">
              <button type="submit" class="btn btn-secondary">
                  Beli
              </button>
          </div>
        </form>
    </div>
  </div>
</body>
{% endblock content %}