{% extends 'base.html' %} 

{% block meta %}
{% endblock meta %}

{% block content %}
<body>
    {% include "navbar-user.html" %}
    <div class="container mt-5">
        <h1>HALAMAN EPISODE</h1>

        <!-- Judul Episode -->
        <h2>Judul: {{ judul.0 }}</h2>

        <!-- Sub Judul Episode -->
        <h3>Sub Judul: {{ subjudul }}</h3>

        <!-- Tombol Aksi -->
        <div class="mb-3">
            <button type="button" class="btn btn-primary">Tonton</button>
        </div>

        <!-- Informasi Episode -->
        <div class="mb-3">
            <p>Sinopsis Episode: {{ dataEpisode.0 }}</p>
            <p>Durasi Episode: {{ dataEpisode.1 }} menit</p>
            <p>URL Episode: {{ dataEpisode.2 }}</p>
            <p>Tanggal Rilis Episode: {{ dataEpisode.3 }}</p>
        </div>

        <!-- Daftar Episode Lainnya -->
        <h3>Episode Lainnya:</h3>
        {% for row in episode %}
            <ul>
                <li><a href="{% url 'tayangan:show_episode' id row.1 %}">{{ row.0 }}</a></li>
            </ul>
        {% endfor %}
    </div>
</body>
{% endblock content %}