{% extends 'base.html' %} 

{% block meta %}
{% endblock meta %}

{% block content %}
<body>
    {% include "navbar-user.html" %}
    <div class="container mt-5">
        <h1>HALAMAN EPISODE</h1>

        <!-- Judul Episode -->
        <h2>Judul: {{ judul.0 }}</h2>

        <!-- Sub Judul Episode -->
        <h3>Sub Judul: {{ subjudul }}</h3>

        <input type="range" class="form-range" min="0" max="100" id="durasi">
        <!-- Tombol Aksi -->
        <div class="mb-3">
            {% if isRelease %}
            <button type="button" class="btn btn-primary" id="tontonButton">Tonton</button>
            {% endif %}
        </div>

        <!-- Informasi Episode -->
        <div class="mb-3">
            <p>Sinopsis Episode: {{ dataEpisode.0 }}</p>
            <p>Durasi Episode: {{ dataEpisode.1 }} menit</p>
            <p>URL Episode: {{ dataEpisode.2 }}</p>
            <p>Tanggal Rilis Episode: {{ dataEpisode.3 }}</p>
        </div>

        <!-- Daftar Episode Lainnya -->
        <h3>Episode Lainnya:</h3>
        {% for row in episode %}
            <ul>
                <li><a href="{% url 'tayangan:show_episode' id row.1 %}">{{ row.0 }}</a></li>
            </ul>
        {% endfor %}
    </div>
</body>

<script>
    document.getElementById('tontonButton').addEventListener('click', function () {
        var durasi = document.getElementById('durasi').value;
        var id_tayangan = "{{ id }}";  // Mengambil ID tayangan dari konteks

        fetch("{% url 'tayangan:tonton' %}?id=" + "{{ id }}" + "&durasi=" + durasi + "&subjudul=" + "{{ subjudul }}", {
            method: 'POST',
        })
        .then(response => {
            if (response.ok) {
                alert('Durasi tayangan berhasil disimpan!');
            } else {
                throw new Error('Error in saving watch duration');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error in saving watch duration');
        });
    });
</script>
{% endblock content %}