{% extends 'base.html' %} 

{% block meta %}
{% endblock meta %}

{% block content %}
<body>
    {% include "navbar-user.html" %}
    <div class="container mt-5">
        <h1>HALAMAN FILM</h1>

        <!-- Judul Film -->
        <h2>Judul: {{ dataFilm.1 }}</h2>
        <input type="range" class="form-range" min="0" max="100" id="durasi">
        <!-- Tombol-->
        <div class="mb-3">
            <button type="button" class="btn btn-primary">Tonton</button>
            <button type="button" class="btn btn-primary">Unduh Tayangan</button>
            <button type="button" class="btn btn-primary">Favorit Tayangan</button>
        </div>

        <!-- Informasi Film -->
        <div class="mb-3">
            <p>Total View: NOT YET</p>
            <p>Rating Rata-Rata: {{ avgRating.0 }} / 5.0</p>
            <p>Sinopsis: {{ dataFilm.2 }}</p>
            <p>Durasi Film: {{ dataFilm.3 }} menit</p>
            <p>Tanggal Rilis Film: {{ dataFilm.4 }}</p>
            <p>URL Film: {{ dataFilm.5 }}</p>
            <p>Genre:</p>
            {% for row in genre %}
            <ul>
                <li>{{ row.0 }}</li>
            </ul>
            {% endfor %}
            <p>Asal Negara: {{ dataFilm.6 }}</p>
            <p>Pemain:</p>
            {% for row in pemain %}
            <ul>
                <li>{{ row.0 }}</li>
            </ul>
            {% endfor %}
            <p>Penulis Skenario:</p>
            {% for row in penulis %}
            <ul>
                <li>{{ row.0 }}</li>
            </ul>
            {% endfor %}
            <p>Sutradara: {{ sutradara.0 }}</p>
        </div>

        <!-- Bagian Ulasan -->
        <h2>BAGIAN ULASAN</h2>

        <!-- Input Deskripsi Ulasan -->
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Input untuk deskripsi ulasan" id="reviewDescriptionInput">
            <input type="number" class="form-control" placeholder="Rating (0-5)" id="reviewRatingInput" min="0" max="5" value="0">
            <button type="button" class="btn btn-primary" id="submitReviewButton">Submit</button>
        </div>

        <!-- Daftar Ulasan -->
        <ul id="reviewList">
            
        </ul>
    </div>
</body>

<script>
    document.getElementById('submitReviewButton').addEventListener('click', function () {
        // Get review description, rating, and username
        var reviewDescription = document.getElementById('reviewDescriptionInput').value;
        var reviewRating = document.getElementById('reviewRatingInput').value;
        var username = "John Doe"; // Example username\

        // Create a new list item element for the review
        var newReview = document.createElement('li');
        newReview.textContent = username + ": " + reviewDescription + ' - Rating: ' + reviewRating;

        // Append the new review to the review list
        document.getElementById('reviewList').appendChild(newReview);

        // Clear input fields after submission
        document.getElementById('reviewDescriptionInput').value = '';
        document.getElementById('reviewRatingInput').value = '0'; //default
    });
</script>
{% endblock content %}