{% extends 'base.html' %} 

{% block meta %}
{% endblock meta %}

{% block content %}
<body>
    {% include "navbar-user.html" %}
    <div class="container mt-5">
        <h1>HALAMAN FILM</h1>

        <!-- Judul Film -->
        <h2>Judul: {{ dataFilm.1 }}</h2>
        <input type="range" class="form-range" min="0" max="100" id="durasi">
        <!-- Tombol-->
        <div class="mb-3">
            {% if isRelease %}
            <button type="button" class="btn btn-primary" id="tontonButton">Tonton</button>
            {% endif %}
            <button type="button" class="btn btn-primary" id="unduhTayanganButton">Unduh Tayangan</button>
            <button type="button" class="btn btn-primary" id="favoritButton" data-bs-toggle="modal" data-bs-target="#modalTambahFavorit">Favorit Tayangan</button>
        </div>

        <!-- Informasi Film -->
        <div class="mb-3">
            {% if viewers %}
            <p>Total View: {{ viewers.1 }}</p>
            {% else %}
            <p>Total View: 0</p>
            {% endif %}
            <p>Rating Rata-Rata: {{ avgRating.0 }} / 5.0</p>
            <p>Sinopsis: {{ dataFilm.2 }}</p>
            <p>Durasi Film: {{ dataFilm.3 }} menit</p>
            <p>Tanggal Rilis Film: {{ dataFilm.4 }}</p>
            <p>URL Film: {{ dataFilm.5 }}</p>
            <p>Genre:</p>
            {% for row in genre %}
            <ul>
                <li>{{ row.0 }}</li>
            </ul>
            {% endfor %}
            <p>Asal Negara: {{ dataFilm.6 }}</p>
            <p>Pemain:</p>
            {% for row in pemain %}
            <ul>
                <li>{{ row.0 }}</li>
            </ul>
            {% endfor %}
            <p>Penulis Skenario:</p>
            {% for row in penulis %}
            <ul>
                <li>{{ row.0 }}</li>
            </ul>
            {% endfor %}
            <p>Sutradara: {{ sutradara.0 }}</p>
        </div>

        <!-- Bagian Ulasan -->
        <h2>BAGIAN ULASAN</h2>

        <!-- Input Deskripsi Ulasan -->
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Input untuk deskripsi ulasan" id="reviewDescriptionInput">
            <input type="number" class="form-control" placeholder="Rating (0-5)" id="reviewRatingInput" min="0" max="5" value="0">
            <button type="button" class="btn btn-primary" id="submitReviewButton">Submit</button>
        </div>

        <!-- Daftar Ulasan -->
        <ul id="reviewList">
        </ul>
    </div>

    <!-- Modal Unduh Tayangan-->
    <!-- copas from save modul -->
    <div class="modal fade" id="modalUnduhTayangan" tabindex="-1" aria-labelledby="modalUnduhTayanganLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUnduhTayanganLabel">SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Selamat! Anda telah berhasil mengunduh [Judul Tayangan] dan akan berlaku hingga [current time + 7
                        hari]. Cek informasi selengkapnya pada halaman daftar unduhan.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <a href="{% url 'save:daftar_unduhan' %}" class="btn btn-primary">Menuju Daftar Unduhan</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tambah Favorit -->
    <!-- copas from save modul -->
    <div class="modal fade" id="modalTambahFavorit" tabindex="-1" aria-labelledby="modalTambahFavoritLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTambahFavoritLabel">TAMBAH KE DAFTAR FAVORIT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form memilih daftar favorit -->
                <label for="dropdownDaftarFavorit" class="form-label">Judul Daftar Favorit:</label>
                <select class="form-select" aria-label="Daftar Favorit" id="dropdownDaftarFavorit">
                    {% for row in daftarFavorit %}
                        <option value="{{ row.0 }}">{{ row.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" id="btnTambahFavorit">Tambah</button>
            </div>
        </div>
    </div>
    </div>
</body>

<script>
    document.getElementById('submitReviewButton').addEventListener('click', function () {
        var reviewDescription = document.getElementById('reviewDescriptionInput').value;
        var reviewRating = document.getElementById('reviewRatingInput').value;
        var username = "{{ username }}"; // Ambil username dari konteks

        // Kirim data ulasan ke view Django menggunakan Ajax
        fetch("{% url 'tayangan:submit_review' %}?id=" + "{{ id }}" + "&deskripsi=" + reviewDescription + "&rating=" + reviewRating, {
            method: 'POST',
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Error in submitting review');
            }
        })
        .then(data => {
            // Clear input fields after submission
            document.getElementById('reviewDescriptionInput').value = '';
            document.getElementById('reviewRatingInput').value = '0';
        })
        .then(() => {
                // Tampilkan ulasan di halaman
                fetchReviews();
        })
        .catch(error => {
            console.error('Error:', error);
            // Tampilkan pesan error jika terjadi kesalahan
            alert('Error in submitting review');
        });
    });

    // Ketika halaman dimuat, panggil fungsi untuk mendapatkan ulasan
    document.addEventListener('DOMContentLoaded', function () {
        fetchReviews();
    });

    // Fungsi untuk mendapatkan ulasan dari server
    function fetchReviews() {
        fetch("{% url 'tayangan:get_reviews' %}?id=" + "{{ id }}")  // Sesuaikan dengan URL endpoint Anda
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                else {
                    throw new Error('Error in fetching reviews');
                }
            })
            .then(reviews => {
                // Tampilkan ulasan di halaman
                displayReviews(reviews);
            })
            .catch(error => {
                console.error('Error:', error);
                // Tampilkan pesan error jika terjadi kesalahan
                alert('Error in fetching reviews');
            });
    }

    // Fungsi untuk menampilkan ulasan di halaman
    function displayReviews(reviews) {
        var reviewList = document.getElementById('reviewList');
        // Hapus semua ulasan yang ada sebelum menambahkan ulasan baru
        reviewList.innerHTML = '';

        reviews.forEach(review => {
            var newReview = document.createElement('li');
            newReview.textContent = "By: " + review.username + " - " + review.deskripsi + ' - Rating: ' + review.rating + " / 5";
            reviewList.appendChild(newReview);
        });
    }

    document.getElementById('unduhTayanganButton').addEventListener('click', function () {
        // Kirim permintaan ke server menggunakan AJAX
        fetch("{% url 'tayangan:tambah_unduhan' %}?id=" + "{{ id }}", {
            method: 'POST',
        })
        .then(response => {
            if (response.ok) {
                // Jika permintaan berhasil, tampilkan modal "Berhasil Menambahkan Tayangan ke Daftar Unduhan"
                $('#modalUnduhTayangan').modal('show');
            } else {
                // Jika terjadi kesalahan, lemparkan error
                throw new Error('Error in adding the movie to the download list');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Tampilkan pesan error jika terjadi kesalahan
            alert('Error in adding the movie to the download list');
        });
    });

    document.getElementById('tontonButton').addEventListener('click', function () {
        var durasi = document.getElementById('durasi').value;
        var id_tayangan = "{{ id }}";  // Mengambil ID tayangan dari konteks

        fetch("{% url 'tayangan:tonton' %}?id=" + "{{ id }}" + "&durasi=" + durasi + "&subjudul=", {
            method: 'POST',
        })
        .then(response => {
            if (response.ok) {
                $('#modalTambahFavorit').modal('hide');
                alert('Durasi tayangan berhasil disimpan!');
            } else {
                throw new Error('Error in saving watch duration');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error in saving watch duration');
        });
    });

    // Tambahkan event listener untuk tombol Tambah di modal
    document.getElementById('btnTambahFavorit').addEventListener('click', function () {
        var timestamp = document.getElementById('dropdownDaftarFavorit').value;

        // Kirim data ke view Django untuk menambahkan tayangan ke daftar favorit
        fetch("{% url 'tayangan:favorit' %}?id=" + "{{ id }}" + "&timestamp=" + timestamp + "&username=" + "{{ username }}", {
            method: 'POST',
        })
        .then(response => {
            if (response.ok) {
                alert('Tayangan berhasil ditambahkan ke daftar favorit!');
            } else {
                throw new Error('Error in adding the movie to the favorites list');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error in adding the movie to the favorites list');
        });
    });
</script>
{% endblock content %}