{% extends 'base.html' %} 

{% block meta %}
{% endblock meta %}

{% block content %}
<body>
    {% include "navbar-user.html" %}
    <div class="container mt-5">
        <h1>DAFTAR TAYANGAN</h1>
        
        <!-- Input Pencarian Tayangan -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Input Pencarian Tayangan berdasarkan judul" id="searchInput">
            <button class="btn btn-primary" type="button" id="searchButton">Search</button>
        </div>

        <!-- Daftar Hasil Pencarian -->
        <div id="searchResults" style="display: none;">
            <h3>Hasil Pencarian</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Judul</th>
                        <th>Sinopsis Trailer</th>
                        <th>URL Trailer</th>
                        <th>Tanggal Rilis Trailer</th>
                        <th>Tayangan</th>
                    </tr>
                </thead>
                <tbody id="searchResultsBody">
                    <!-- Data hasil pencarian akan dimasukkan di sini menggunakan JavaScript -->
                </tbody>
            </table>
        </div>

        <!-- Opsi Top 10 -->
        <h2>TOP 10 GLOBAL TAYANGAN MINGGU INI</h2>

        <!-- Tabel Tayangan Terbaik -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Peringkat</th>
                    <th>Judul</th>
                    <th>Sinopsis Trailer</th>
                    <th>URL Trailer</th>
                    <th>Tanggal Rilis Trailer</th>
                    <th>Total View 7 Hari Terakhir</th>
                    <th>Tayangan</th>
                </tr>
            </thead>
            {% for row in rowsTop10 %}
            <tbody>
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                    <td>{{row.5}}</td>
                    <td>
                        {% if paketAktif %}
                            <a href="{% url 'tayangan:show_film' row.0 %}"><button type="button" class="btn btn-primary">Halaman Tayangan</button></a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>

        <!-- Kategori: Film -->
        <h2>Film</h2>
        <!-- Tabel Film -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Sinopsis Trailer</th>
                    <th>URL Trailer</th>
                    <th>Tanggal Rilis Trailer</th>
                    <th>Tayangan</th>
                </tr>
            </thead>
            {% for row in rowsFilm %}
            <tbody>
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>
                    {% if paketAktif %}
                        <a href="{% url 'tayangan:show_film' row.4 %}"><button type="button" class="btn btn-primary">Halaman Tayangan</button></a>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>

        <!-- Kategori: Series -->
        <h2>Series</h2>
        <!-- Tabel Series -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Sinopsis Trailer</th>
                    <th>URL Trailer</th>
                    <th>Tanggal Rilis Trailer</th>
                    <th>Tayangan</th>
                </tr>
            </thead>
            {% for row in rowsSeries %}
            <tbody>
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>
                    {% if paketAktif %}
                        <a href="{% url 'tayangan:show_series' row.4 %}"><button type="button" class="btn btn-primary">Halaman Tayangan</button></a></td>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</body>

<script>
    document.getElementById('searchButton').addEventListener('click', function () {
        var searchInput = document.getElementById('searchInput').value;
        fetchSearchResults(searchInput);
    });

    function fetchSearchResults(searchInput) {
        fetch("{% url 'tayangan:search_tayangan' %}?searchInput=" + searchInput)
            .then(response => response.json())
            .then(data => {
                var searchResultsBody = document.getElementById('searchResultsBody');
                searchResultsBody.innerHTML = '';
                data.forEach(result => {
                    var row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${result.judul}</td>
                        <td>${result.sinopsis_trailer}</td>
                        <td>${result.url_video_trailer}</td>
                        <td>${result.release_date_trailer}</td>
                        
                    `;
                    if ('{{ paketAktif }}') {
                        // Check if result.isFilm is true
                        if (result.isFilm) {
                            row.innerHTML += `<a href="/tayangan/film/${result.id}"><button type="button" class="btn btn-primary">Halaman Tayangan</button></a>`;
                        } else {
                            row.innerHTML += `<a href="/tayangan/series/${result.id}"><button type="button" class="btn btn-primary">Halaman Tayangan</button></a>`;
                        }
                    }
                    searchResultsBody.appendChild(row);
                });
                document.getElementById('searchResults').style.display = 'block';
            })
            .catch(error => console.error('Error:', error));
    }
</script>
{% endblock content %}