{% extends 'base.html' %}
{% block content %}

{% include "navbar-user.html" %}

<!-- Daftar Unduhan -->
<div class="container mt-4">
    <h1 class="text-center fw-bold">DAFTAR UNDUHAN</h1>
    <div id="daftar-unduhan" class="mt-5">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        {% if unduhan_list %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Judul</th>
                    <th scope="col">Waktu Diunduh</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody id="tabel-daftar-unduhan">
                {% for unduhan in unduhan_list %}
                <tr>
                    <td>{{ unduhan.0 }}</td>
                    <td>{{ unduhan.1 }}</td>
                    <td>
                        <form action="/save/hapus_unduhan/{{ unduhan.3 }}/{{ unduhan.2 }}" method="POST">
                            {% csrf_token %}
                            <button type="Submit" class="btn btn-danger btn-sm hapus-data"
                                data-id="{{ unduhan.3 }}">Hapus</button>
                        </form>
                        <span class="status-hapus" style="margin-left: 5px;"></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Tidak ada unduhan tersedia.</p>
        {% endif %}
    </div>
</div>

<!-- Modal Gagal Hapus -->
<div class="modal fade" id="modalGagalHapus" tabindex="-1" aria-labelledby="modalGagalHapusLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalGagalHapusLabel">GAGAL MENGHAPUS TAYANGAN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalGagalHapusText">{{ error_message }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>


{% if error_message %}
<script>
    let modalGagalHapus = new bootstrap.Modal(document.getElementById('modalGagalHapus'), {});
    modalGagalHapus.show();
</script>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

{% endblock content %}