{% extends 'base.html' %}
{% block content %}

{% include "navbar-user.html" %}
<div class="container mt-4">
    <h1 class="text-center fw-bold">Detail Daftar Favorit</h1>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Judul Tayangan</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for judul in tayangan_list %}
            <tr>
                <td>{{ judul }}</td>
                <td><button type="button" class="btn btn-danger btn-sm hapus-data"
                        onclick="hapusTayangan('{{ tayangan.1 }}, {{ favorit_id }}')">Hapus</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Tidak ada tayangan dalam daftar favorit ini.</p>
{% endif %}

<script>
    function hapusTayangan(tayanganId, favoritId) {
        fetch(`/hapus-tayangan-favorit/${tayanganId}/?favorit_id=${favoritId}`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert(data.message || 'Gagal menghapus tayangan dari favorit');
                }
            });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

{% endblock content %}