{% extends 'base.html' %} 
{% block meta %}
  <style>
    .table-bordered {
      border: 1px solid #000000;
    }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #000000;
    }

    th {
        background-color: #808080;
    }
  </style>
{% endblock meta %}

{% block content %}
<body>
  <div class="container mt-5">
    <h1>DAFTAR KONTRIBUTOR</h1>
    <div class="form-group mt-4">
      <label for="filter">Filter Pencarian Kontributor berdasarkan tipe:</label>
      <select class="form-control" id="filter">
        <option value="Semua">Semua</option>
        <option value="Semua">Sutradara</option>
        <option value="Semua">Pemain</option>
        <option value="Semua">Penulis Skenario</option>
      </select>
    </div>
    <table class="table table-bordered mt-4">
        <tr class="table-secondary">
          <th scope="col">Nama</th>
          <th scope="col">Tipe</th>
          <th scope="col">Jenis Kelamin</th>
          <th scope="col">Kewarganegaraan</th>
        </tr>
        <tr>
          <td>Christopher Nolan</td>
          <td>Sutradara</td>
          <td>Laki-laki</td>
          <td>Inggris</td>
        </tr>
        <tr>
          <td>Sydney Sweeney</td>
          <td>Pemain</td>
          <td>Perempuan</td>
          <td>Amerika</td>
        </tr>
    </table>
  </div>
</body>
{% endblock content %}